html, body {
  height: 100%;
  margin: 0;
  background-color: #fff;
  overflow: hidden;
}

div {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  height: auto;
  z-index: 100;
  position: absolute;
  animation-name: move;
  animation-timing-function: linear;
}

div.sick {
  animation-name: move;
}

@keyframes move {
  0% {
    left: 100%;
  }
  50% {
    color: black;
  }
  100% {
    left: -100%;
    opacity: 50%;
  }
}

canvas {
  position: absolute;
  z-index: 2;
  width: 100%;
}