html, body {
  height: 100%;
  margin: 0;
  background-color: #fff;
  overflow: hidden;
  touch-action: none;
}

div {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  height: auto;
  z-index: 100;
  position: absolute;
  animation-name: move;
  animation-timing-function: linear;
  will-change: auto;
}

div.sick {
  animation-name: sickMove;
}

@keyframes move {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes sickMove {
  0% {
    left: 100%;
  }
  30% {
    color: #f00;
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

canvas {
  position: absolute;
  z-index: 2;
  width: 100%;
}